#
# All the relative URL paths are intended to be GitHub ones
# For Espressif's public projects please use 'git@github.com:espressif/proj', not a '../proj'
#

[submodule "components/bt/controller/lib_esp32"]
	path = components/bt/controller/lib_esp32
	url = git@github.com:espressif/esp32-bt-lib.git

[submodule "components/bootloader/subproject/components/micro-ecc/micro-ecc"]
	path = components/bootloader/subproject/components/micro-ecc/micro-ecc
	url = git@github.com:kmackay/micro-ecc.git

[submodule "components/spiffs/spiffs"]
	path = components/spiffs/spiffs
	url = git@github.com:pellepl/spiffs.git

[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = git@github.com:DaveGamble/cJSON.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = git@github.com:espressif/mbedtls.git

[submodule "components/lwip/lwip"]
	path = components/lwip/lwip
	url = git@github.com:espressif/esp-lwip.git

[submodule "components/mqtt/esp-mqtt"]
	path = components/mqtt/esp-mqtt
	url = git@github.com:espressif/esp-mqtt.git

[submodule "components/protobuf-c/protobuf-c"]
	path = components/protobuf-c/protobuf-c
	url = git@github.com:protobuf-c/protobuf-c.git

[submodule "components/unity/unity"]
	path = components/unity/unity
	url = git@github.com:ThrowTheSwitch/Unity.git

[submodule "components/bt/host/nimble/nimble"]
	path = components/bt/host/nimble/nimble
	url = git@github.com:espressif/esp-nimble.git

[submodule "components/esp_wifi/lib"]
	path = components/esp_wifi/lib
	url = git@github.com:espressif/esp32-wifi-lib.git

[submodule "components/cmock/CMock"]
	path = components/cmock/CMock
	url = git@github.com:ThrowTheSwitch/CMock.git

[submodule "components/openthread/openthread"]
	path = components/openthread/openthread
	url = git@github.com:espressif/openthread.git

[submodule "components/bt/controller/lib_esp32c3_family"]
	path = components/bt/controller/lib_esp32c3_family
	url = git@github.com:espressif/esp32c3-bt-lib.git

[submodule "components/esp_phy/lib"]
	path = components/esp_phy/lib
	url = git@github.com:espressif/esp-phy-lib.git

[submodule "components/openthread/lib"]
	path = components/openthread/lib
	url = git@github.com:espressif/esp-thread-lib.git

[submodule "components/ieee802154/lib"]
	path = components/ieee802154/lib
	url = git@github.com:espressif/esp-ieee802154-lib.git

[submodule "components/bt/controller/lib_esp32h2/esp32h2-bt-lib"]
	path = components/bt/controller/lib_esp32h2/esp32h2-bt-lib
	url = git@github.com:espressif/esp32h2-bt-lib.git

[submodule "components/bt/controller/lib_esp32c2/esp32c2-bt-lib"]
	path = components/bt/controller/lib_esp32c2/esp32c2-bt-lib
	url = git@github.com:espressif/esp32c2-bt-lib.git

[submodule "components/heap/tlsf"]
	path = components/heap/tlsf
	url = git@github.com:espressif/tlsf.git
